@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --accent-color: #008080

  @keyframes slide-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Create the utility class */
  .animate-slide-up {
    animation: slide-up 0.5s ease-out forwards;
  }
}

@keyframes blink-green-beige {
  0%, 100% { fill: #008000; fill-opacity: 1; }
  50% { fill: #F5F5DC; fill-opacity: 1; }
}

.blinking-spot {
  animation: blink-green-beige 1s infinite ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, serif, Helvetica, sans-serif;
}